<section class="block-contact__liste">
    <p class="liste__title">{{title}}</p>
    <ul class="liste__list">
        {% for item in contacts %}
            <li>
                <div class="icon">
                    <img src="{{item["icone"]["url"]}}" alt="{{item["icone"]["alt"]}}">
                </div>
                <a href="{{item["link"]["url"]}}">{{item["link"]["title"]}}</a>
            </li>
        {% endfor %}
    </ul>
</section>