{% extends "base.twig" %}

{% block content %}
<section class="page page--home" data-router-view='home'>
	<section class="block-introduction">
		<div class="block-introduction__image-container">
			<img src="{{fields.block_landing.image["url"]}}" alt="{{fields.block_landing.image["alt"]}}">
		</div>
		<div class="wrapper">
			<div class="block-introduction__side-texts">
				<ul class="side-texts__left">
					{% for text in fields.block_landing.sidetext %}
					{% if loop.last %}
					<li class="side-texts__list last">
						<span class="line"></span>
						<a class="text-alt" href="{{text["text"]["url"]}}">{{text["text"]["title"]}}</a>
					</li>
					{% else %}
					<li class="side-texts__list">
						<a class="text-alt" href="{{text["text"]["url"]}}">{{text["text"]["title"]}}</a>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
				<ul class="side-texts__right">
					{% for text in fields.block_landing.sidetext %}
					{% if loop.last %}
					<li class="side-texts__list last">
						<span class="line"></span>
						<a class="text-alt" href="{{text["text"]["url"]}}">{{text["text"]["title"]}}</a>
					</li>
					{% else %}
					<li class="side-texts__list">
						<a class="text-alt" href="{{text["text"]["url"]}}">{{text["text"]["title"]}}</a>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="block-introduction__hero-section">
				<div class="hero-section__text-container">
					{% include "components/TitleContainer.twig" with {"title": fields.block_landing.title["title"]} %}
				</div>
			</div>
			<div class="block-introduction__scroll-container">
				<div class="scroll-container__line"></div>
			</div>
		</div>
	</section>
	<section class="block-about">
		<div class="small-wrapper">
			<article class="block-about__img-container">
				<img src="{{fields.block_about.image["url"]}}" alt="{{fields.block_about.image["alt"]}}">
			</article>
			<article class="text block-about__content-container">
				{{fields.block_about.description}}
				{% include "components/BtnHand.twig" with {"link": fields.block_about.link["url"], "image": "👌", "text": fields.block_about.btn} %}
			</article>
		</div>
	</section>
	<section class="block-works">
		<div class="small-wrapper">
			{% include "components/SelectCategory.twig" with {"categories": fields.block_works.categories} %}
			<div class="block-works__posts-container">
				{% for post in fields.block_works.posts %}
				<a href="{{post.permalink}}" class="work-post {{ post.category.slug == "graphisme" ? null : "is-hidden" }}" data-category="{{ post.category.slug }}" style="opacity: {{ post.category.slug == "graphisme" ? "1" : "0" }}">
					<div class="work-post__image-container">
						<img src="{{post.image["url"]}}" alt="{{post.image["alt"]}}">
					</div>
					<div class="work-post__text-container">
						{% include "components/TitleContainer.twig" with {"title": post.post_title} %}
						<div class="text-container__post-count">
							<span class="post-count__post">01</span>
							/
							<span class="post-count__total">05</span>
						</div>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
		<div class="block-works__scrolling-title scrolling-title">
			<p class="text">{{fields.block_works.title}}</p>
		</div>
		<div class="block-works__link">
			<a class="text-alt" href="{{fields.block_works.link["url"]}}">
				{{fields.block_works.link["title"]}}
			</a>
		</div>
	</section>
	{% include "components/SectionContact/SectionContact.twig" %}
</section>
{% endblock %}
