<div class="scrolling-title {{ direction == "horizontal" ? "scrolling-title--horizontal" : null }} {{ classes }}" data-scroll data-scroll-speed="{{ scroll ? scroll : "2"}}" style="{{ animated ? "opacity: 0;" : null }}" data-scroll-direction={{ direction ? direction : "vertical"}}>
    <p class="text">{{ title }}</p>
</div>