<div class="title-container {{ classes ?? classes }}" data-scroll data-scroll-offset="{{ offset ? offset : 0}}" data-animation="{{ animated ? "true" : "false" }}">
    <h1 class="main-title title-container__main">{{title}}</h1>
    <p class="main-title title-container__back">{{title}}</p>
</div>