{% extends "base.twig" %} 

{% block content %}
<section class="page page--single-projets" data-router-view="single_projets">
    <section class="block-introduction">
        <div class="small-wrapper">
            <article class="block-introduction__content-container">
                <div class="btn-back">
                    <div class="btn-back__fleche"></div>
                </div>
                <div class="content-container__title-container">
                    {% include "/components/TitleContainer.twig" with {"title": fields.block_introduction.post_title} %}
                </div>
                <div class="content-container__details-container">
                    <div class="details-container details-container--category">
                        <p class="text details-container__intro">{{ __("Catégorie", "ben") }}</p>
                        <p class="text details-container__title">
                            {{ fields.block_introduction.category[0].name }}
                        </p>
                    </div>
                    <div class="details-container details-container--date">
                        <p class="text details-container__intro">{{ __("Date", "ben") }}</p>
                        <p class="text details-container__title">
                            {{ fields.block_introduction.date }}
                        </p>
                    </div>
                </div>
            </article>
            <div class="block-introduction__image-container">
                <img src="{{ fields.block_introduction.image["url"] }}" alt="{{ fields.block_introduction.image["alt"]
                }}">
            </div>
            <p class="text-alt block-introduction__scroll">SCROLL</p>
        </div>
    </section>
    <section class="block-contenu">
        <div class="small-wrapper">
            {% for contenu in fields.block_contenu.blocks %}
            <article class="contenu contenu--{{ contenu.type }}">
                {% if contenu.image %}
                    <div class="contenu__image-container">
                        <img src="{{ contenu.image["url"] }}" alt="{{ contenu.image["alt"] }}">
                    </div>
                {% endif %}
                {% if contenu.title %}
                    <h2 class="text contenu__title-container">{{ contenu.title }}</h2>
                {% endif %}
                {% if contenu.texts %}
                <div class="contenu__texts-container">
                    {% for text in contenu.texts %}
                        <div class="text texts-container__text">
                            {{ text["text"] }}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </article>
            {% endfor %}
        </div>
    </section>
    <section class="block-other-works">
        <div class="block-other-works__title-container">
            {% include "/components/TitleContainer.twig" with {"title": fields.block_otherworks.title} %}
        </div>
        <div class="swiper-container block-other-works__slider-container">
            <div class="swiper-wrapper">
                {% for projet in fields.block_otherworks.posts %}
                <a href="{{ projet.permalink }}" class="swiper-slide slider-container__slide">
                    <img src="{{ projet.image["url"] }}" alt="{{ projet.image["alt"] }}">
                </a>
                {% endfor %}
            </div>
        </div>
    </section>
</section>
{% endblock %}