{% extends "base.twig" %}

{% block content %}
<section class="page page--home" data-router-view='home'>
	<section class="block-introduction">
		<div class="block-introduction__hero-section">
			<div class="wrapper">
				<div class="square-parts">
					<div class="square-part"><span></span><span></span></div>
					<div class="square-part"><span></span><span></span></div>
					<div class="square-part"><span></span><span></span></div>
					<div class="square-part"><span></span><span></span></div>
				</div>
				<div class="hero-section__text-container">
					<div class="title-container" data-scroll data-scroll-offset="0" data-animation="false">
						<h1 class="main-title title-container__main">Moi c'est Ben, <br><span class="full">Designer graphique, </span><br><span class="full">webdesigner</span> & <span class="full">Illustrateur</span> <br>à Strasbourg</h1>
						<p class="main-title title-container__back">Moi c'est Ben, <br>Designer graphique, <br>webdesigner & Illustrateur <br>à Strasbourg</p>
					</div>
				</div>
				<div class="block-introduction__scroll-container">
				</div>
			</div>
		</div>
		<div class="block-introduction__image-container">
			<div class="wrapper">
				<img src="{{fields.block_landing.picto_1["url"]}}" alt="{{fields.block_landing.picto_1["alt"]}}" class="picto picto-1" data-scroll data-scroll-speed="2">
				<img src="{{fields.block_landing.image["url"]}}" alt="{{fields.block_landing.image["alt"]}}" class="main-image">
				<img src="{{fields.block_landing.picto_2["url"]}}" alt="{{fields.block_landing.picto_2["alt"]}}" class="picto picto-2" data-scroll data-scroll-speed="3">
			</div>
		</div>
	</section>
	<section class="block-about" data-scroll data-scroll-offset="25%" >
		<div class="wrapper">
			<div class="block-about__text">
				{{fields.block_about.description}}
			</div>
			<div class="block-about__link-container">
				<a href="{{fields.link["url"]}}" class="btn btn--wide-text">En savoir plus</a>
			</div>
		</div>
	</section>
	<section class="block-works" data-scroll data-scroll-offset="25%">
		<div class="small-wrapper">
			{% include "components/SelectCategory.twig" with {"categories": fields.block_works.categories} %}
			<div class="block-works__posts-container">
				{% for post in fields.block_works.posts %}
				<a href="{{post.permalink}}" class="work-post {{ post.category.slug == "graphisme" ? "is-first-shown" : "is-hidden" }}" data-category="{{ post.category.slug }}" style="opacity: {{ post.category.slug == "graphisme" ? "1" : "0" }}">
					<div class="work-post__image-container">
						<img src="{{post.image["url"]}}" alt="{{post.image["alt"]}}">
					</div>
					<div class="work-post__text-container" data-scroll data-scroll-speed="2">
						{% include "components/TitleContainer.twig" with {"title": post.post_title, "offset": "25%", "animated": true} %}
						<div class="text-alt text-alt--white text-container__post-count">
							<span class="post-count__post">01</span>
							/
							<span class="post-count__total">05</span>
						</div>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
		<div class="block-works__scrolling-title scrolling-title" data-scroll data-scroll-speed="10">
			<p class="text">{{fields.block_works.title}}</p>
		</div>
		<div class="block-works__link">
			<a class="text-alt" href="{{fields.block_works.link["url"]}}">
				{{fields.block_works.link["title"]}}
			</a>
		</div>
	</section>
	{% include "components/SectionContact/SectionContact.twig" %}
	<footer>
		{% block footer %}
		{% include "footer.twig" %}
		{% endblock %}
	</footer>
</section>
{% endblock %}
